<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>close</key>
		<real>97.099999999999994</real>
		<key>date</key>
		<string>03/09/2012</string>
		<key>open</key>
		<real>96.299999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>95.299999999999997</real>
		<key>date</key>
		<string>04/09/2012</string>
		<key>open</key>
		<real>96.900000000000006</real>
	</dict>
	<dict>
		<key>close</key>
		<real>95.400000000000006</real>
		<key>date</key>
		<string>05/09/2012</string>
		<key>open</key>
		<real>95.400000000000006</real>
	</dict>
	<dict>
		<key>close</key>
		<real>95.5</real>
		<key>date</key>
		<string>06/09/2012</string>
		<key>open</key>
		<real>95.799999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>96.400000000000006</real>
		<key>date</key>
		<string>07/09/2012</string>
		<key>open</key>
		<real>94.799999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>96.5</real>
		<key>date</key>
		<string>10/09/2012</string>
		<key>open</key>
		<real>96.299999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>97.200000000000003</real>
		<key>date</key>
		<string>11/09/2012</string>
		<key>open</key>
		<real>96.200000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<integer>97</integer>
		<key>date</key>
		<string>12/09/2012</string>
		<key>open</key>
		<real>96.900000000000006</real>
	</dict>
	<dict>
		<key>close</key>
		<real>98.299999999999997</real>
		<key>date</key>
		<string>13/09/2012</string>
		<key>open</key>
		<integer>97</integer>
	</dict>
	<dict>
		<key>close</key>
		<integer>99</integer>
		<key>date</key>
		<string>14/09/2012</string>
		<key>open</key>
		<real>98.200000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>96.599999999999994</real>
		<key>date</key>
		<string>17/09/2012</string>
		<key>open</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>close</key>
		<real>95.299999999999997</real>
		<key>date</key>
		<string>18/09/2012</string>
		<key>open</key>
		<integer>97</integer>
	</dict>
	<dict>
		<key>close</key>
		<integer>92</integer>
		<key>date</key>
		<string>19/09/2012</string>
		<key>open</key>
		<real>95.599999999999994</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.400000000000006</real>
		<key>date</key>
		<string>20/09/2012</string>
		<key>open</key>
		<real>92.200000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.900000000000006</real>
		<key>date</key>
		<string>21/09/2012</string>
		<key>open</key>
		<real>92.900000000000006</real>
	</dict>
	<dict>
		<key>close</key>
		<real>91.900000000000006</real>
		<key>date</key>
		<string>24/09/2012</string>
		<key>open</key>
		<real>92.799999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>91.400000000000006</real>
		<key>date</key>
		<string>25/09/2012</string>
		<key>open</key>
		<real>92.099999999999994</real>
	</dict>
	<dict>
		<key>close</key>
		<integer>90</integer>
		<key>date</key>
		<string>26/09/2012</string>
		<key>open</key>
		<real>90.900000000000006</real>
	</dict>
	<dict>
		<key>close</key>
		<real>91.900000000000006</real>
		<key>date</key>
		<string>27/09/2012</string>
		<key>open</key>
		<real>90.299999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.200000000000003</real>
		<key>date</key>
		<string>28/09/2012</string>
		<key>open</key>
		<real>92.200000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.5</real>
		<key>date</key>
		<string>01/10/2012</string>
		<key>open</key>
		<real>91.5</real>
	</dict>
	<dict>
		<key>close</key>
		<real>91.900000000000006</real>
		<key>date</key>
		<string>02/10/2012</string>
		<key>open</key>
		<real>92.5</real>
	</dict>
	<dict>
		<key>close</key>
		<real>88.099999999999994</real>
		<key>date</key>
		<string>03/10/2012</string>
		<key>open</key>
		<real>91.700000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>91.700000000000003</real>
		<key>date</key>
		<string>04/10/2012</string>
		<key>open</key>
		<real>88.299999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>89.900000000000006</real>
		<key>date</key>
		<string>05/10/2012</string>
		<key>open</key>
		<real>91.5</real>
	</dict>
	<dict>
		<key>close</key>
		<real>89.299999999999997</real>
		<key>date</key>
		<string>08/10/2012</string>
		<key>open</key>
		<real>89.700000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.400000000000006</real>
		<key>date</key>
		<string>09/10/2012</string>
		<key>open</key>
		<real>89.900000000000006</real>
	</dict>
	<dict>
		<key>close</key>
		<real>91.299999999999997</real>
		<key>date</key>
		<string>10/10/2012</string>
		<key>open</key>
		<real>91.900000000000006</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.099999999999994</real>
		<key>date</key>
		<string>11/10/2012</string>
		<key>open</key>
		<real>91.299999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>91.900000000000006</real>
		<key>date</key>
		<string>12/10/2012</string>
		<key>open</key>
		<real>92.5</real>
	</dict>
	<dict>
		<key>close</key>
		<real>91.900000000000006</real>
		<key>date</key>
		<string>15/10/2012</string>
		<key>open</key>
		<real>91.099999999999994</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.099999999999994</real>
		<key>date</key>
		<string>16/10/2012</string>
		<key>open</key>
		<real>91.700000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.099999999999994</real>
		<key>date</key>
		<string>17/10/2012</string>
		<key>open</key>
		<real>92.5</real>
	</dict>
	<dict>
		<key>close</key>
		<real>92.099999999999994</real>
		<key>date</key>
		<string>18/10/2012</string>
		<key>open</key>
		<integer>92</integer>
	</dict>
	<dict>
		<key>close</key>
		<real>90.099999999999994</real>
		<key>date</key>
		<string>19/10/2012</string>
		<key>open</key>
		<real>92.200000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>88.700000000000003</real>
		<key>date</key>
		<string>22/10/2012</string>
		<key>open</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>close</key>
		<real>86.700000000000003</real>
		<key>date</key>
		<string>23/10/2012</string>
		<key>open</key>
		<real>89.200000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>85.700000000000003</real>
		<key>date</key>
		<string>24/10/2012</string>
		<key>open</key>
		<real>86.599999999999994</real>
	</dict>
	<dict>
		<key>close</key>
		<real>86.099999999999994</real>
		<key>date</key>
		<string>25/10/2012</string>
		<key>open</key>
		<real>85.799999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>86.299999999999997</real>
		<key>date</key>
		<string>26/10/2012</string>
		<key>open</key>
		<real>86.200000000000003</real>
	</dict>
	<dict>
		<key>close</key>
		<real>85.5</real>
		<key>date</key>
		<string>29/10/2012</string>
		<key>open</key>
		<real>86.099999999999994</real>
	</dict>
	<dict>
		<key>close</key>
		<real>85.700000000000003</real>
		<key>date</key>
		<string>30/10/2012</string>
		<key>open</key>
		<real>85.299999999999997</real>
	</dict>
	<dict>
		<key>close</key>
		<real>86.200000000000003</real>
		<key>date</key>
		<string>31/10/2012</string>
		<key>open</key>
		<real>85.700000000000003</real>
	</dict>
</array>
</plist>
